/* 
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

:root {
	--maroon: #73464e;
	--dk-maroon: #36181c;
	--teal: #466e73;
	--lt-gray: #f2efe9;
	--gray: #bfb7b4;
	--black: #0d0d0d;
	--white: #fff;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--white);
	z-index: 0;
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	fill: blue;
	stroke: red;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

h1,
h2,
.primary_logo {
	font-family: "Lobster", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
}

a {
	color: var(--dk-maroon);
	text-decoration-color: var(--dk-maroon);
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: transparent;
}

.center {
	text-align: center;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.wrap {
	max-width: 100rem;
	margin: 0 auto;
}

/* Header */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.header .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.primary_logo {
	margin: 0;
	font-size: clamp(2rem, 6vw, 4rem);
	color: var(--lt-gray);
	line-height: 1;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 25%);
}

/* Navigation */
.menu_button {
	display: none;
	width: 3rem;
	height: 3rem;
	padding: 0.25rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.close_button {
	margin: 0.5rem 0 0.5rem auto;
}

.menu_button:focus,
.menu_button:hover,
.menu_button:active {
	background-color: var(--lt-gray);
}

.menu_button svg {
	width: 2.5rem;
	height: 2.5rem;
	stroke: var(--lt-gray);
	transition: stroke 300ms ease-in-out;
}

.menu_button:focus svg,
.menu_button:hover svg,
.menu_button:active svg {
	stroke: var(--dk-maroon);
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.main_nav a {
	display: block;
	padding: 0.65rem 1.5rem;
	border: 2px solid rgba(242, 239, 233, 65%);
	border-radius: 50vh;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.1rem;
	letter-spacing: 1px;
	background-color: rgba(242, 239, 233, 65%);
	transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	color: var(--lt-gray);
	background-color: var(--dk-maroon);
}

@media (max-width: 1024px) {
	.menu_button {
		display: block;
	}

	.navigation {
		visibility: hidden;
		padding: 0 1rem 1rem;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		max-width: 100%;
		height: 100dvh;
		transform: translateX(0);
		background-color: var(--dk-maroon);
		transition: transform 300ms linear, visibility 300ms ease-in-out;
	}

	.main_nav {
		flex-direction: column;
		gap: 0;
	}

	.main_nav li {
		width: 100%;
		border-bottom: 2px dotted var(--maroon);
	}

	.main_nav li:last-of-type {
		border-bottom: none;
	}

	.main_nav a {
		padding: 0.5rem 0;
		margin: 0.5rem 0;
		border: none;
		border-radius: 0;
		text-decoration: underline;
		text-decoration-color: transparent;
		text-decoration-thickness: 2px;
		text-underline-offset: 5px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.1rem;
		letter-spacing: 1px;
		background-color: transparent;
		color: var(--lt-gray);
		transition: text-decoration-color 300ms ease-in-out;
	}

	.main_nav a:focus,
	.main_nav a:hover,
	.main_nav a:active {
		text-decoration-color: var(--lt-gray);
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translateX(300px);
	}

	.menu_active .open_button {
		visibility: hidden;
	}
}

/* Hero */
.hero {
	position: relative;
	width: 100%;
	height: auto;
	padding: 10rem 1rem 4rem;
	aspect-ratio: 16 / 8;
	z-index: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: end;
}

.hero .figure {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero .wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
}

.hero .article {
	padding: 2rem;
	color: var(--dk-maroon);
	font-size: clamp(1rem, 2vw, 1.5rem);
	background-color: rgba(242, 239, 233, 85%);
}

.article .secondary_heading {
	text-align: center;
	color: var(--dk-maroon);
	font-size: 3rem;
	margin: 0 0 1rem;
}

.event_list,
.cafe_list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.event_list li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 0.5rem;
	line-height: 1.25;
}

.event_list span:first-of-type {
	width: 60px;
	height: auto;
	padding: 0.5rem;
	margin-right: 0.5rem;
	color: var(--lt-gray);
	font-size: 1.25rem;
	text-align: center;
	background-color: var(--maroon);
}

.event_list span:last-of-type {
	width: calc(100% - (60px + 0.5rem));
}

@media (max-width: 1400px) {
	.hero {
		padding: 10rem 2rem 2rem;
	}

	.hero .wrap {
		gap: 2rem;
	}
}

@media (max-width: 1200px) {
	.hero .wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 1024px) {
	.hero {
		padding: 8rem 2rem 2rem;
	}
}

@media (max-width: 600px) {
	.hero {
		padding: 6rem 1rem 1rem;
	}

	.hero .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.hero .article {
		padding: 1rem;
	}
}

/* Footer */
.footer {
	padding: 3rem 2rem 2rem;
	background-color: var(--teal);
	color: var(--lt-gray);
	font-size: clamp(1rem, 2vw, 1.5rem);
}

.footer .wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
}

.footer .tertiary_heading {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 1rem;
}

.footer .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
}

.footer .figure img {
	width: 100%;
	height: 100%;
	object-position: cover;
}

.footer_list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.footer_list li {
	padding: 0 0 0.333rem;
	margin: 0 0 0.333rem;
	border-bottom: 2px dotted var(--gray);
}

.footer_list li:last-of-type {
	border-bottom: none;
}

.footer .title {
	font-family: "Lobster", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3rem;
	line-height: 1;
}

.footer .primary_logo {
	font-size: 3rem;
}

.footer .primary_logo + p {
	text-align: right;
}

.social_menu {
	padding: 0;
	margin: 2rem 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.social_menu a {
	display: block;
	padding: 0.5rem;
	line-height: 1;
	background-color: transparent;
	border-radius: 5px;
	transition: background-color 300ms ease-in-out;
}

.social_menu svg {
	fill: var(--lt-gray);
	transition: fill 300ms ease-in-out;
}

.social_menu a:focus,
.social_menu a:hover,
.social_menu a:active {
	background-color: var(--lt-gray);
}

.social_menu a:focus svg,
.social_menu a:hover svg,
.social_menu a:active svg {
	fill: var(--teal);
}

@media (max-width: 1400px) {
	.footer .wrap {
		gap: 2rem;
	}
}

@media (max-width: 1200px) {
	.footer .wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.footer {
		padding: 1rem;
	}

	.footer .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.footer .primary_logo + p {
		text-align: center;
	}
}
